@{
    ViewBag.Title = "MyBudget";
}

<section>
    <h1>MyBudget</h1>
    <button type="button">@Html.ActionLink("Incomes", "Index", "incomes", null, new { @class = "link" })</button>
    <button type="button">@Html.ActionLink("Expences", "Index", "expences", null, new { @class = "link" })</button>

</section>






